:root {
    --dark-color: #030013;
    --black-color: #020202;
    --gray-color: #161616;
    --clean-color: #fdfffc;
    --magenta-color: #e71d36;

}

body {
    background-color: var(--dark-color);
    color: var(--clean-color);

}

.dropzone{
    max-height: 55vh;
    overflow-y: scroll;
}

.dropzone::-webkit-scrollbar {
    width: 3px;
    height: 3px;
  }

.dropzone::-webkit-scrollbar-track {
    background: transparent;
    padding: 2px;

  }
  
.dropzone::-webkit-scrollbar-thumb {
    background-color: var(--magenta-color);

  }

.completed {
    text-decoration: line-through

  }


  .btnNewTask {
    background-color: var(--magenta-color); 
    border: none;
    border-radius: 50%;
    color: var(--clean-color);
    font-size: 25px;
    height: 70px;
    width: 70px;

 }

 .center {
    display: flex;
    justify-content: center;
 }

 .task {
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 25px;
    color: var(--clean-color);
    cursor: pointer;
    display: flex;
    height: 70px;
    scroll-snap-align: center;
    justify-content: space-around;
    width: 300px;
    margin-right: 15px;

}

.delet {
    background-color: transparent;
    border: 1px solid var(--clean-color);
    border-radius: 50%;
    color: var(--magenta-color);
    cursor: pointer;
    font-size: 13px;
    height: 27px;
    width: 27px;

}

.newTaskSpan {
    align-items: center;
    background-color: var(--gray-color);
    border-radius: 25px;
    height: 70px;
    justify-content: center;
    width: 250px;

}

.inputTask {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid var(--clean-color);
    color: var(--clean-color);
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    letter-spacing: 0.7px;
    line-height: 1.3;
    margin: 10px;
    padding: 7px;
    width: 100px;

}

.btnEnter {
    background-color: var(--magenta-color);
    border: none;
    color: var(--clean-color);
    height: 30px;
    width: 50px;

}

.textTask {
    color: aliceblue;
    font-size: 17px;
    height: 20px;
    width: 200px;

    }

.btnNewTask {
      background-color: rgb(232, 28, 52); 
      border: none;
      border-radius: 50%;
      color: white;
      font-size: 25px;
      height: 70px;
      width: 70px;

   }

.center {
    display: flex;
    justify-content: center;

 }

.dropzone {
  color: aliceblue;
  display: flex;
  flex-direction: column;
  gap: 5px;

}

.none {
display: none;

}